# Environment files
*.env
.env

# Virtual environment
/env
venv/
ENV/

# SQLite database files
*.db
*.sqlite3

# Flask / instance folder
instance/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Migrations (optional: keep if you want them tracked)
migrations/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
