Flask==3.0.3
python-dotenv==1.0.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
Flask-WTF==1.2.1
gunicorn==23.0.0
Jinja2==3.1.4   # for deployment

# ⚠️ Not valid on PyPI, use Flask-Mail instead
#Flask-Mailpip   # should be Flask-Mail==0.9.1

# ⚠️ Not valid on PyPI, use psycopg2-binary instead
#psycopg-binary  # should be psycopg2-binary==2.9.9

flask-sqlalchemy==3.1.1   # duplicate of Flask-SQLAlchemy
python-dotenv==1.0.1      # duplicate
flask-login==0.6.3
Flask-Mail==0.9.1
flask-migrate==4.0.5      # duplicate of Flask-Migrate
